<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <style>
            body{background:skyblue; font-family: verdana; color: #fff; padding: 30px;}
            h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
            form{width: 400px; max-width: 100%; padding: 20px; margin: 20px auto;}
            input, label{display: block; margin: 10px 0; padding: 4px; width: 100%; 
            font-family: 'Raleway', 'Lato', Arial, sans-serif; font-size: 20px;}
            input[type='submit']{width: 103%; }
        </style>
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        var email, password;
        // If the form is submitted
        $("#submit").click(function(event){
            event.preventDefault();
            email = $("#email").val();
            password = $("#password").val();

            // POST request
            $.post("https://messenger200.herokuapp.com/login",{email: email, password: password}, function(data){
                    if(data === "1"){
                        alert('Data is incomplete!');                       
                    }
                    else if(data === "2"){
                        alert('Email or password are wrong!');                       
                    }
                    else{
                        let auth = {'uuid': data};
                        localStorage.setItem('uuid', data);
                        window.location.assign('https://messenger200.herokuapp.com/chat');
                    }
            });
        });
      });
    </script>
</head>
<body>
    <div class="container">
        <form id="form" method="POST">  
            <h1>Login</h1>                      
            <input type="email" name="email" id="email" placeholder="E-mail">                        
            <input type="password" name="password" id="password" placeholder="Password">                                                        
            <input type="submit" id="submit" value="Login" class="btn-login"/>            
        </form>
    </div>
</body>
</html>
