<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <style>
            body{background:skyblue; font-family: verdana; color: #fff; padding: 30px;}
            h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
            form{width: 400px; max-width: 100%; padding: 20px; margin: 20px auto;}
            input, label{display: block; margin: 10px 0; padding: 4px; width: 100%; 
            font-family: 'Raleway', 'Lato', Arial, sans-serif; font-size: 20px;}
            input[type='submit']{width: 103%; }
            input[type='button']{width: 103%; }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        
    </script>
    <script>
    $(document).ready(function(){
        var username, email, password, name;
        // If the form is submitted
        $("#form").submit(function(event){
            event.preventDefault();
            username = $("#username").val();
            email = $("#email").val();
            password = $("#password").val();
            name = $("#name").val();
            // POST request
            $.post("https://messenger200.herokuapp.com/register", {name: name, email: email, password: password, username: username}, function(data){
                    if(data === "1"){
                        alert('Username is already taken, try another one!');
                    }
                    else if(data === "2"){
                        alert('Data is incomplete!');
                    }
                    else{
                        window.location.assign('https://messenger200.herokuapp.com/login');
                    }
            });
        });
      });
    </script>   
</head>
<body>
        
    
    <div class="container">
        <form id="form" method="POST">  
            <h1>Register</h1>          
            <input type="username" name="username" id="username" placeholder="Username">                    
            <input type="email" name="email" id="email" placeholder="E-mail">                        
            <input type="password" name="password" id="password" placeholder="Password">                        
            <input type="name" name="name" id="name" placeholder="Name">                        
            <input type="submit" id="submit" value="Register" class="btn-login" />
            <input type="button" value="Sign in" onclick="window.location.href='https://messenger200.herokuapp.com/login'" />
        </form> 
    </div>
</body>
</html>
